.card img {
    object-position: top;
}

.badge {
    font-size: 0.9rem;
}


.card {
    position: relative;
    overflow: hidden;
}
.card .sale-time {
    background-color: #fff;
    color: red;
    font-size: large;
}

.card .hover-icons {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card .sizes {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    gap: 10px;
    justify-content: center;
    opacity: 0;
    background-color: #00000033;
    border: 1px solid #ddd;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover .hover-icons,
.card:hover .sizes {
    transform: translate(-50%, 0);
    opacity: 1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.hover-icons span {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sizes span {
    padding: 10px 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .card .sale-time{
        width: 90% !important;
    }


}
/* Responsive Adjustments */
@media (max-width: 576px) {
    .card .badge{
        font-size: 0.7rem;
    }
    .card .card-img-top{
        height: 290px !important;
    }


}

