.swiper-button-prev {
    left: 5px; /* Adjust position to the left */
}

.swiper-button-next {
    right: 5px; /* Adjust position to the right */
}

/* Responsive Adjustments */
@media (min-width: 470px) {
    .swiper-images .swiper-slide-images img{
        height: auto !important;
    }


}
/* Responsive Adjustments */
@media (min-width: 992px) {
    .swiper-images .swiper-slide-images img{
        height: 100% !important;
    }


}
